In [1]:
import pandas as pd
import numpy as np

# EX_1

Create a series of 10 elements, random integers from 70 to 100, representing scores on a monthly exam. Set the index to be the month names, starting in September and ending in June. (If these months don’t match the school year in your location, feel free to make them more realistic.)
With this series, write code to answer the following questions:
- What is the student’s average test score for the entire year?
- What is the student’s average test score during the first half of the year (i.e., the first five months)?
- What is the student’s average test score during the second half of the year?
- Did the student improve their performance in the second half? If so, by how much?

# EX_2

In high school, instructors sometimes gave extremely hard tests. Rather than fail most of the class, they would scale the test scores, known in some places as grading on a curve. They would assume that the average test score should be 80, calculate the difference between the actual mean and 80, and then add that difference to each of our scores.
Generate 10 test scores between 40 and 60, again using an index starting with September and ending with June. 
Find the mean of the scores and add the difference between the mean and 80 to each of the scores.

# EX_3

Ggenerate 10 random integers in the range 0 to 100. (Remember that the np.random.randint function returns numbers that include the lower bound but exclude the upper bound.) Create a series containing those numbers’ tens digits. Thus, if our series contains 10, 25, 32, we want the series 1, 2, 3.

# EX_4

The mean, median, and standard deviation are three numbers we can use to get a better picture of our data. Adding a few other numbers can give us an even more complete picture. These descriptive statistics typically include the mean, standard deviation, minimum value, 25% quantile, median, 50% quantile, and maximum value.
Understanding and using descriptive statistics is a key skill for anyone working with data, and in this exercise, you’ll practice doing so with the following:
- Generate a series of 100,000 floats in a normal distribution with a mean of 0 and a standard deviation of 100.
- Get the descriptive statistics for this series. How close are the mean and median? (You don’t need to calculate the difference; rather, consider why they aren’t the same.)
- Replace the minimum value with 5 times the maximum value.
- Get the descriptive statistics again. Did the mean, median, and standard deviations change from their previous values? (Again, it’s enough to see the difference without calculating it.) If so, why?

# EX_5

Create a series of 28 temperature readings in Celsius, representing four seven-day weeks, randomly selected from a normal distribution with a mean of 20 and a standard deviation of 5, rounded to the nearest integer.
The index should start with Sun, continue through Sat, and repeat Sun through Sat until each temperature has a value. The question is, what was the mean temperature on Mondays during this period?

# EX_6

The file 'data/taxi-passenger-count.csv' shows the number of passengers in each of 100,000 taxi rides.
Show what percentage of taxi rides had only one passenger versus the (theoretical) maximum of six passengers.

# EX_7

Load 'data/taxi-distance.csv' into a series. Then modify the series (or create another series) containing category names rather than numbers based on these criteria:
- Short, ≤ 2 miles
- Medium, > 2 miles but ≤ 10 miles
- Long, > 10 miles
Calculate the number of rides in each category.

# DataFrames

# EX_8

Create a data frame that represents a company’s inventory of five products. Each product has a unique ID number (a two-digit integer will do), name, wholesale price, retail price, and number of sales in the last month.
Once you have created this data frame, calculate the total net revenue from all your products.

# EX_9

Extend the previous data frame by adding columns.
Your local government is thinking about imposing a sales tax and is considering 15%, 20%, and 25% rates. Show how much less you would net with each of these tax amounts by adding columns to the data frame for your net income under each of the proposed rates, as well as your current net income. (df.assign)

# EX_10

Your store is making money, and you have decided to add some new products.
Create a new data frame and add it to the existing one. This new data frame should contain three products (including product ID,name, wholesale price, and retail price):

- Phone, with an ID of 24, a wholesale price of 200, and a retail price of 500
- Apple, with an ID of 16, a wholesale price of 0.5, and a retail price of 1
- Pear, with an ID of 17, a wholesale price of 0.6, and a retail price of 1.2

Because these are new products, don’t include the sales column. And to avoid problems and conflicts, ensure that the indexes of these new products are different from existing product indexes.

Once you have added these new products, assign sales figures to each of them.
Finally, recalculate the store’s total net income, including the new products.

# EX_11

Find the IDs and names of products that have sold more than the average number of units.

# EX_12

Create a two-column data frame from the taxi data from 'data/taxi-passenger-count.csv' and 'data/taxi-distance.csv'. The first column will contain the passenger count for each trip, and the second column will contain the distance (in miles) for each trip. Once you have created this data frame: 

- Count how many trip distances were outliers.
- Calculate the mean number of passengers for outliers. Is it different from the mean number of passengers for all trips?

NOTE: The term outliers doesn’t have a precise, standard definition. Many people define it using the interquartile range (IQR), which is the value at the 75% point (aka quantile(0.75)) minus the value at the 25% point (aka quantile(0.25)). Outliers are then values below the 25% point –1.5 * IQR or values above the 75% + 1.5 * IQR. We use that definition here, but you may find that a different definition is a better fit for your data (say, anything below the mean - two standard deviations, or above the mean + two standard deviations).

# EX_13

In this exercise, we load some basic temperature data from New York City from the end of 2018 and the start of 2019. We then simulate a simple recurring equipment failure at 3:00 and 6:00 a.m. preventing us from getting temperature readings at those hours. How well does interpolation help us, and how far off are the interpolated mean and median calculations from the original, true values?

1) Load the temperature data from New York City ('data/nyc-temps.txt') into a series. The measurements are in degrees Celsius.
2) Create a data frame with two columns: temp, with the temperatures, and hour, representing the hours at which the measurements were taken. The hour values should be 0, 3, 6, 9, 12, 15, 18, and 21, repeated for all 728 data points.
3) Calculate the mean and median values. These are the real values, which we hope to replicate via interpolation.
4) Set all values from 3:00 and 6:00 a.m. to NaN.
5) Interpolate the values with the 'interpolate' method.
6) What are the mean and median of the interpolated data frame? Are they similar to the real values? Why or why not?

# EX_14

Create the same two-column data frame as in the last exercise. Then, update the values in the temperature column so that any value less than 0 is set to 0.

# EX_15

We have a database of parking tickets given in New York City in 2020. Let’s consider that this data was entered by a police officer, a parking inspector, or another person, which means there is a good chance it sometimes has missing or incorrect data. That may seem like a minor problem, but it can mean everything from cars being ticketed incorrectly to bad statistics in the system to people getting out of fines due to incorrect information.
In this exercise, we will identify missing values, one of the most common problems you will encounter. We’ll see how often values are missing and what effect they may have. For this exercise, we’re going to assume that a parking ticket that is missing data may be dismissed.

1. Create a data frame from the file 'data/nyc-parking-violations-2020_cut'.csv. We are only interested in the columns:
    – Plate ID
    – Registration State
    – Vehicle Make
    – Vehicle Color
    – Violation Time
    – Street Name
How many rows are in the data frame when it is read into memory?

2. Remove rows with any missing data (i.e., a NaN value). How many rows remain after doing this pruning? If each parking ticket brings $100 into the city, and missing data means the ticket can be successfully contested, how much money may New York City lose due to such missing data?

3. Let’s instead assume that a ticket can only be dismissed if the license plate, state, car make, and/or street name are missing. Remove rows that are missing one or more of these. How many rows remain? Assuming $100/ticket, how much money would the city lose as a result of this missing data?

4. Now let’s assume that tickets can be dismissed if the license plate, state, and/or street name are missing—that is, the same as the previous question, but without requiring the make of car. Remove rows that are missing one or more of these.
How many rows remain? Assuming $100/ticket, how much money would the city lose as a result of this missing data?

# EX_16

Sometimes, a small fraction of the data is unreadable, missing, or corrupt. In other cases, a much larger proportion is problematic—and if you want to use the data set, you’ll need to not only remove bad data but also salvage the good data.
For this exercise, we’ll look at a (slightly morbid) data set: a list of celebrities who died in 2016 and whose passing was recorded in Wikipedia, including the date of death, a short biography, and the cause of death. The problem is that this data set is messy, with some missing data and some erroneous data that will prevent us from working with it easily.

The goal of this exercise is to find the average age of celebrities who died February–July 2016. Getting there will take several steps:

1. Create a data frame from the file 'data/celebrity_deaths_2016.csv'. For this exercise, we’ll use only two columns:
    – dateofdeath
    – age
2. Create a new month column containing the month from the dateofdeath column. (Use Pandas' 'str' accessor).
3. Make the month column the index of the data frame (use pd.set_index).
4. Sort the data frame by the index (sort_index()).
5. Clean all nonintegers from the age column (astype()).
6. Turn the age column into an integer value.
7. Find the average age of celebrities who died during that period.

# EX_17

Missing data is a common problem you must deal with when importing data sets. But equally common is inconsistent data, when the same value is represented by several different values, for example:

    - United States of America
    - USA
    - U.S.A.
    - U.S.A
    - United States
    - US
    - U.S.

Although people understand that these refer to the same country, a computer doesn’t. If your data is inconsistent, it will be hard for you to analyze it in any sort of serious way. Thus, a big part of cleaning real-world data involves making it more consistent.

In this exercise, we return to the parking tickets database, trying to make it more consistent and thus easier to analyze. 

1. Create a data frame from the file 'data/nyc-parking-violations-2020_cut.csv'. We are only interested in the columns:
    – Plate ID
    – Registration State
    – Vehicle Make
    – Vehicle Color
    – Street Name

2. Determine how many different vehicle colors (the Vehicle Color column) there are.

3. Look at the 30 most common colors, and identify colors that appear multiple times but are written differently. For example, the color WHITE is also written WT, WT., and WHT.

4. Prepare a Python dict in which the keys represent the various color-name inputs and the values represent the values you want them to have in the end. I suggest using longer names, such as WHITE, rather than shorter ones.

5. Replace the existing (old) colors with your translations. How many colors are there now?

6. Look through the top 50 colors now that you have removed a bunch of them. Are there any you could still clean up? Are there any you cannot figure out? Can you identify some consistent typos and errors in the colors?

# EX_18

1. Load the CSV file 'data/nyc_taxi_2019-01_cut.csv' into a data frame using only the columns passenger_count, trip_distance, and total_amount.

2. Using a descending sort, find the average cost of the 20 longest (in distance) taxi rides in January 2019.

3. Using an ascending sort, find the average cost of the 20 longest (in distance) taxi rides in January 2019. Are the results any different?

4. Sort by ascending passenger count and descending trip distance. (So, start with the longest trip with 0 passengers and end with the shortest trip with 9 passengers.)

What is the average price paid for the top 50 rides?

# EX_19

1 Load taxi data from January 2019 into a data frame using only the columns passenger_count, trip_distance, and total_amount.

2 For each number of passengers, find the mean cost of a taxi ride. Sort this result from lowest (i.e., cheapest) to highest (i.e., most expensive). (Use groupby()).

3 Sort the results again by increasing the number of passengers.

4 Create a new column, trip_distance_group, in which the values are short (< 2 miles), medium (≥ 2 miles and ≤ 10 miles), and long (> 10 miles). What is the average number of passengers per trip length category? Sort this result from highest (most passengers) to lowest (fewest passengers).

# EX_20

1. Take the eight CSV files provided in the 'data/temperature' folder, containing weather data from eight different cities (spanning four states), and turn them into a data frame. The files are 'san+francisco,ca.csv', 'new+york,ny.csv', 'springfield,ma.csv', 'boston,ma.csv', 'springfield,il.csv', 'albany,ny.csv', 'los+angeles,ca.csv', and 'chicago,il.csv'.

2. We are only interested in the first three columns from each CSV file: the date and time, the max temperature, and the min temperature.

3. Add city and state columns that contain the city and state from the filename and allow us to distinguish between rows.

Once you’ve done all that, answer the following questions:

- Does the data for each city and state start and end at (roughly) the same time? How do you know?
- What is the lowest minimum temperature recorded for each city in the data set?
- What is the highest maximum temperature recorded in each state in the data set?

# EX_21

The calculations we’ll make in this exercise all take advantage of the filter and transform methods on DataFrameGroupBy objects. These methods allow us to conditionally keep (filter) and modify (transform) rows in a data frame while having access to all rows of the group when deciding and calculating.

1. Read in the data frames for the city weather as in exercise 20, reading three columns: max_temp, min_temp, and precipMM.

2. Determine which cities had, on at least three occasions, precipitation of 15 mm or more.

3. Find cities that had at least three measurements of 10 mm of precipitation or more when the temperature was at or below 0° Celsius.

4. For each precipitation measurement, calculate the proportion of that city’s total precipitation.

5. For each city, determine the greatest proportion of that city’s total precipitation to fall in a given period.