In [8]:
import pandas as pd
import numpy as np

# Time series

In [2]:
date = pd.to_datetime(" september 16th, 2025")
date

Timestamp('2025-09-16 00:00:00')

In [4]:
date = pd.to_datetime("2023 june")
date

Timestamp('2023-06-01 00:00:00')

In [6]:
date = pd.to_datetime("03-08-2021", dayfirst = True)
date

Timestamp('2021-08-03 00:00:00')

In [7]:
date = pd.to_datetime("12/22/2011 13:45:21")
date

Timestamp('2011-12-22 13:45:21')

In [10]:
delta = pd.to_timedelta(np.arange(7), 'D')
delta

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days', '5 days',
                '6 days'],
               dtype='timedelta64[ns]', freq=None)

In [11]:
res = date + delta
res

DatetimeIndex(['2011-12-22 13:45:21', '2011-12-23 13:45:21',
               '2011-12-24 13:45:21', '2011-12-25 13:45:21',
               '2011-12-26 13:45:21', '2011-12-27 13:45:21',
               '2011-12-28 13:45:21'],
              dtype='datetime64[ns]', freq=None)

In [12]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015 july 4th', '2015-08-04'])
data = pd.Series([0,1,2,3], index = index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [13]:
data['2014-07-04':'2015-07-04']

2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64

In [14]:
data['2015']

2015-07-04    2
2015-08-04    3
dtype: int64

In [16]:
rn = pd.date_range('2012-04-01', '2012-06-01', freq = 'W')
rn

DatetimeIndex(['2012-04-01', '2012-04-08', '2012-04-15', '2012-04-22',
               '2012-04-29', '2012-05-06', '2012-05-13', '2012-05-20',
               '2012-05-27'],
              dtype='datetime64[ns]', freq='W-SUN')

In [17]:
ts = pd.Series(np.random.randn(100), index = pd.date_range('1/1/2000', periods = 100))
ts

2000-01-01    0.172350
2000-01-02    1.384743
2000-01-03   -2.784024
2000-01-04    1.007985
2000-01-05   -0.010685
                ...
2000-04-05    0.482396
2000-04-06    0.092236
2000-04-07   -2.008203
2000-04-08    0.798071
2000-04-09   -1.014264
Freq: D, Length: 100, dtype: float64

In [19]:
ts['2000/01/05':'2000/01/10']

2000-01-05   -0.010685
2000-01-06   -0.806654
2000-01-07   -0.274233
2000-01-08   -0.619347
2000-01-09   -0.453976
2000-01-10    1.427273
Freq: D, dtype: float64

In [20]:
ts['2000']

2000-01-01    0.172350
2000-01-02    1.384743
2000-01-03   -2.784024
2000-01-04    1.007985
2000-01-05   -0.010685
                ...
2000-04-05    0.482396
2000-04-06    0.092236
2000-04-07   -2.008203
2000-04-08    0.798071
2000-04-09   -1.014264
Freq: D, Length: 100, dtype: float64

In [25]:
rn = pd.date_range('2000', '2001', freq = "ME")
rn

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31'],
              dtype='datetime64[ns]', freq='ME')

In [27]:
rn = pd.date_range('2000/02', '2000/03', freq = "B")
rn

DatetimeIndex(['2000-02-01', '2000-02-02', '2000-02-03', '2000-02-04',
               '2000-02-07', '2000-02-08', '2000-02-09', '2000-02-10',
               '2000-02-11', '2000-02-14', '2000-02-15', '2000-02-16',
               '2000-02-17', '2000-02-18', '2000-02-21', '2000-02-22',
               '2000-02-23', '2000-02-24', '2000-02-25', '2000-02-28',
               '2000-02-29', '2000-03-01'],
              dtype='datetime64[ns]', freq='B')

In [30]:
rn = pd.date_range('2000/02/01 15:00', '2000/03/01 15:15', freq = "4min")
rn

DatetimeIndex(['2000-02-01 15:00:00', '2000-02-01 15:04:00',
               '2000-02-01 15:08:00', '2000-02-01 15:12:00',
               '2000-02-01 15:16:00', '2000-02-01 15:20:00',
               '2000-02-01 15:24:00', '2000-02-01 15:28:00',
               '2000-02-01 15:32:00', '2000-02-01 15:36:00',
               ...
               '2000-03-01 14:36:00', '2000-03-01 14:40:00',
               '2000-03-01 14:44:00', '2000-03-01 14:48:00',
               '2000-03-01 14:52:00', '2000-03-01 14:56:00',
               '2000-03-01 15:00:00', '2000-03-01 15:04:00',
               '2000-03-01 15:08:00', '2000-03-01 15:12:00'],
              dtype='datetime64[ns]', length=10444, freq='4min')

In [33]:
rn = pd.date_range('2000/05/02 12:56:31',periods = 5, normalize = True)
rn

DatetimeIndex(['2000-05-02', '2000-05-03', '2000-05-04', '2000-05-05',
               '2000-05-06'],
              dtype='datetime64[ns]', freq='D')