### Pandas

In [1]:
import pandas as pd

#### Series

In [3]:
data = pd.Series([0.5, 0.55, 0.78, 0.9])
data

0    0.50
1    0.55
2    0.78
3    0.90
dtype: float64

In [4]:
type(data)

pandas.core.series.Series

In [5]:
print(data.index, data.values)
print(type(data.index), type(data.values))

RangeIndex(start=0, stop=4, step=1) [0.5  0.55 0.78 0.9 ]
<class 'pandas.core.indexes.range.RangeIndex'> <class 'numpy.ndarray'>

In [7]:
ser = pd.Series(['ab','cd','ef'])
ser

0    ab
1    cd
2    ef
dtype: object

In [8]:
type(ser.values)

numpy.ndarray

In [9]:
print(data, '\n', data[1:3])

0    0.50
1    0.55
2    0.78
3    0.90
dtype: float64
 1    0.55
2    0.78
dtype: float64

In [13]:
data = pd.Series([2,5,8,11], index=['one', 'two', 'three', 'four'])
data

one       2
two       5
three     8
four     11
dtype: int64

In [15]:
pd.Series({2:'a', 1:'b', 3:'x',8:'z',4:'w'})

2    a
1    b
3    x
8    z
4    w
dtype: object

In [17]:
A = pd.Series([5,7,34,5,4], index="monday tuesday wednesday thursday friday".split())
A

monday        5
tuesday       7
wednesday    34
thursday      5
friday        4
dtype: int64

In [19]:
A['monday':'wednesday']

monday        5
tuesday       7
wednesday    34
dtype: int64

#### DataFrame

In [20]:
area_dict = {'California': 423, 'Texas': 695, 'New York': 141, 'Florida':170, 'Illinois': 149}
area = pd.Series(area_dict)
area

California    423
Texas         695
New York      141
Florida       170
Illinois      149
dtype: int64

In [21]:
population_dict = {'California': 3833, 'Texas': 2644, 'New York': 1965, 'Florida':1955, 'Illinois': 1288}
population = pd.Series(population_dict)
population

California    3833
Texas         2644
New York      1965
Florida       1955
Illinois      1288
dtype: int64

In [22]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population  area
California        3833   423
Texas             2644   695
New York          1965   141
Florida           1955   170
Illinois          1288   149

In [23]:
print(states.index, states.columns)

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object') Index(['population', 'area'], dtype='object')

In [24]:
states['population']

California    3833
Texas         2644
New York      1965
Florida       1955
Illinois      1288
Name: population, dtype: int64

In [25]:
states['population']['California']

np.int64(3833)

In [26]:
states.loc['California']

population    3833
area           423
Name: California, dtype: int64

In [27]:
states.iloc[0]

population    3833
area           423
Name: California, dtype: int64

#### Index

In [29]:
ind = pd.Index({'a','b','c','d'})
ind

Index(['a', 'd', 'c', 'b'], dtype='object')

In [31]:
ind_char = pd.Index(list('abc'))
ind_char

Index(['a', 'b', 'c'], dtype='object')

In [32]:
states

            population  area
California        3833   423
Texas             2644   695
New York          1965   141
Florida           1955   170
Illinois          1288   149

In [33]:
states.keys()

Index(['population', 'area'], dtype='object')

In [34]:
states['population']['Texas':'Florida']

Texas       2644
New York    1965
Florida     1955
Name: population, dtype: int64

In [35]:
type(states['population'])

pandas.core.series.Series

In [36]:
states['population']['Texas']

np.int64(2644)

In [37]:
states.loc['California', 'area']

np.int64(423)