In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

1. Show the first 5 rows of the DataFrame.

2. Show the first 6 rows of the 3 first columns.

3. Show the last 5 rows of the 'cut' series only.

4. Create a new 'Quality-color' Series inside the DataFrame by concatenating the values of the 'cut' and 'color' columns with a comma in between.

5. Show the number of rows and columns in the Dataframe, as well as the data type of each column.

6. Summarize only 'object' columns of the Dataframe.

7. Rename the 'color' column as 'diamond_color' and the 'clarity' column as 'diamond_clarity' in a copy of the Dataframe.

8. Rename all the columns of a copy of the diamonds Dataframe by adding 'new_' to each name.

9. Remove the second column of the copied Dataframe.

10. Copy the diamonds Dataframe and remove the 'carat', 'color' and 'y'columns at once from the copy.

11. Remove rows from 2 to 53939 at once (axis=0 refers to rows) from a copy of the diamonds dataframe.

12. Sort the 'cut' Series in ascending order (returns a Series) from the diamonds Dataframe.

13. Sort the 'price' Series in descending order from the diamonds Dataframe.

14. Sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

15. Filter the DataFrame to show only rows with carat weight of at least 0.3.

16. Convert a Python list to a Pandas series.

17. Find the details of all diamonds where x>5, y>5 and z>5.

18. Find the details of all diamonds that are either Premium or Ideal.

19. Find the details of all diamonds that are only Fair, Good or Premium.

20. Display all column labels of the diamonds DataFrame.

21. Iterate through rows 25 to 30 of the DataFrame and print the 'carat' and 'price' values. (Use the DataFrame.iterrows() method).

22. Show all column data types.

23. Show only columns with numerical data types.

24. Call the DataFrame.describe method so it only shows 'float64' type of columns.

25. Show the mean of every numeric column in the diamond DataFrame.

26. Show the mean of every numeric value of the first 10 rows of the DataFrame.

27. Show the mean of 'price' for each 'cut' in the diamonds DataFrame. (Use the DataFrame.groupby method).

28. Show the count, minimum and maximum price for each cut of diamonds DataFrame. (Use the DataFrame.agg method).

29. Show a side-by-side bar plot of the mean prices of all different cuts.

30. Display the percentages of each value of 'cut' series that occur in diamonds DataFrame. (Use value_counts(normalize=True)).

31. Display all unique values in the 'cut' series of the DataFrame.

32. Show the number of unique values in cut series of diamonds DataFrame.